.psd filter=lfs diff=lfs merge=lfs -text
.cs filter=lfs diff=lfs merge=lfs -text
.meta filter=lfs diff=lfs merge=lfs -text
.changit filter=lfs diff=lfs merge=lfs -text
lfs filter=lfs diff=lfs merge=lfs -text
track filter=lfs diff=lfs merge=lfs -text
,chan filter=lfs diff=lfs merge=lfs -text
.chan filter=lfs diff=lfs merge=lfs -text
.raw filter=lfs diff=lfs merge=lfs -text
.ply filter=lfs diff=lfs merge=lfs -text
.obj filter=lfs diff=lfs merge=lfs -text
.blend filter=lfs diff=lfs merge=lfs -text
.wrl filter=lfs diff=lfs merge=lfs -text
.dxf filter=lfs diff=lfs merge=lfs -text
.dae filter=lfs diff=lfs merge=lfs -text
.3ds filter=lfs diff=lfs merge=lfs -text
.fbx filter=lfs diff=lfs merge=lfs -text
.exr filter=lfs diff=lfs merge=lfs -text
.asset filter=lfs diff=lfs merge=lfs -text
.prefab filter=lfs diff=lfs merge=lfs -text
.unity filter=lfs diff=lfs merge=lfs -text
.lighting filter=lfs diff=lfs merge=lfs -text
.jpg filter=lfs diff=lfs merge=lfs -text
.png filter=lfs diff=lfs merge=lfs -text
.json filter=lfs diff=lfs merge=lfs -text
.bakert filter=lfs diff=lfs merge=lfs -text
.cache filter=lfs diff=lfs merge=lfs -text
